.radio {



}

.radio::before {

}


.radio:checked::before {

}
.span {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.label {
    display: flex;
    gap: 15px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
